# This is a reusable Github Workflow to build
name: Build and Publish Docker Images

on:
  workflow_call:
    secrets:
      username:
        description: 'The username to use for authentication'
        required: true
      password:
        description: 'The token to use for authentication'
        required: true
    inputs:
      image_name:
        description: 'The name of the image to build and push'
        required: false
        default: ${{ github.repository }}
        type: string
      registry:
        description: 'The registry to push the image to'
        required: false
        default: ghcr.io
        type: string
      dockerfile:
        description: 'The path to the Dockerfile'
        required: false
        default: Dockerfile
        type: string
      context:
        description: 'The build context'
        required: false
        default: .
        type: string

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      # Uses the `docker/login-action` action to log in to the Container registry registry using the account and password that will publish the packages
      - name: Log in to the Container registry
        uses: docker/login-action@v3.7.0
        with:
          registry: ${{ inputs.registry }}
          username: ${{ secrets.username }}
          password: ${{ secrets.password }}

      # This step uses [docker/metadata-action](https://github.com/docker/metadata-action#about)
      # to extract tags and labels that will be applied to the specified image.
      # The `id` "meta" allows the output of this step to be referenced in a subsequent step.
      # The `images` value provides the base name for the tags and labels.
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: ${{ inputs.registry }}/${{ inputs.image_name }}

      # This step uses the `docker/build-push-action` action to build the image, based on your repository's `Dockerfile`. If the build succeeds, it pushes the image to GitHub Packages.
      # It uses the `context` parameter to define the build's context as the set of files located in the specified path. For more information, see "[Usage](https://github.com/docker/build-push-action#usage)" in the README of the `docker/build-push-action` repository.
      # It uses the `tags` and `labels` parameters to tag and label the image with the output from the "meta" step.
      - name: Build and push Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          context: ${{ inputs.context }}
          file: ${{ inputs.dockerfile }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
