name: Package and Publish Helm Chart

on:
  workflow_call:
    inputs:
      helm_version:
        description: 'Helm version to use'
        required: false
        default: 'v3.19.0'
        type: string
      helm_registry:
        description: 'URL of the Helm repository to pull the chart from'
        required: false
        default: 'ghcr.io'
        type: string
      helm_chart_repo:
        description: 'Name of the Helm repository to pull the chart from (leave empty for default)'
        required: false
        default: '${{ github.repository_owner }}'
        type: string
      chart_name:
        description: 'Name of the Helm chart to publish'
        required: true
        type: string
      chart_version:
        description: 'Chart version to publish'
        required: true
        type: string
    secrets:
      helm_repo_username:
        description: 'Username for Helm repository authentication'
        required: true
      helm_repo_password:
        description: 'Password for Helm repository authentication'
        required: true

env:
  HELM_REGISTRY_URL: oci://${{ inputs.helm_registry }}/${{ inputs.helm_chart_repo }}


jobs:
  package-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: ${{ inputs.helm_version }}

      - name: Log in to Helm Registry
        run: |
          helm registry login ${{ inputs.helm_registry }} --username ${{ secrets.helm_repo_username }} --password ${{ secrets.helm_repo_password }}

      - name: Package Helm Chart
        run: |
          helm package helm/${{ inputs.chart_name }} --destination .helm-packages --version ${{ inputs.chart_version }} --app-version ${{ inputs.chart_version }} --force

      - name: Push Helm Chart to Registry
        run: |
          helm push .helm-packages/${{ inputs.chart_name }}-${{ inputs.chart_version }}.tgz ${{ env.HELM_REGISTRY_URL }}

      - name: Logout from Registry
        run: |
          helm registry logout ${{ inputs.helm_registry }}
