# This is a reusable Github Workflow to publish artifacts to a Maven Repository
name: Publish Maven Artifacts

on:
  workflow_call:
    inputs:
      repository_id:
        description: 'The repository to publish the artifacts to'
        required: false
        default: github
        type: string
      java_version:
        description: 'The java version to be used for the build of the artifacts'
        required: false
        default: '17'
        type: string
      java_distribution:
        description: 'The java distribution to be used for the build of the artifacts'
        required: false
        default: 'temurin'
        type: string
    secrets:
      username:
        description: 'The username for the Maven Repository'
        required: true
      password:
        description: 'The password for the Maven Repository'
        required: true

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Maven Central Repository
        uses: actions/setup-java@v5
        with:
          java-version: ${{ inputs.java_version }}
          distribution: ${{ inputs.java_distribution }}
          server-id: ${{ inputs.repository_id }}
          server-username: ${{ secrets.username }}
          server-password: ${{ secrets.password }}

      - name: Publish package
        run: mvn deploy -deployAtEnd=true -ntp
        env:
          MAVEN_USERNAME: ${{ secrets.username }}
          MAVEN_PASSWORD: ${{ secrets.password }}
