name: Pyre

on:
  workflow_call:
    inputs:
      requirements-path:
        description: Path to the requirements file
        required: false
        default: requirements.txt
        type: string

permissions:
  contents: read # for actions/checkout to fetch code
  security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
  actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status

jobs:
  pyre:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run Pyre Action
        uses: facebook/pyre-action@v0.0.2
        with:
          repo-directory: './'
          requirements-path: ${{ inputs.requirements-path }}
